.footer {
  background-color: $clr-primary;
  color: $clr-light;
  padding-top: $padding-md;
  padding-bottom: $padding-md;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-sm;

  &-icons {
    display: flex;
    gap: $gap-md;
    font-size: $font-size-lg;

    @include sm-screen {
      font-size: $font-size-xl;
    }
  }

  &-link {
    &:hover {
      color: $clr-secondary;
    }
  }

  &-info {
    font-size: $font-size-xs;

    @include sm-screen {
      font-size: $font-size-sm;
    }
  }
}
