.nav {
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  @include md-screen {
    display: block;
    height: auto;
    overflow: visible;
  }

  &-show {
    display: block;
    height: 10rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  &-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: $clr-1;

    @include md-screen {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 4rem;
    }
  }

  &-list-show {
    display: flex;
  }

  &-list-item {
    transition: $transition;

    &:hover {
      color: $clr-accent-2;
    }
  }

  &-link-contact {
    border: 2px solid $clr-accent-2;
    border-radius: $border-radius;
    background-color: $clr-accent-2;
    color: $clr-5;
    padding: 0.75rem;
    transition: $transition;

    &:hover {
      background-color: transparent;
      color: $clr-accent-2;
    }
  }
}
