.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: $gap-md;
  justify-content: center;

  @include md-screen {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    @include sm-height {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
  }

  @include lg-screen {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.project {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: $gap-sm;
  border-radius: $border-radius;
  padding: $padding-md $padding-sm;
  background-color: $clr-white;
  box-shadow: $box-shadow-base;

  &-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    color: $clr-primary;
  }

  &-title {
    font-size: $font-size-lg;
    text-transform: lowercase;
    font-weight: $font-weight-bold;
  }

  &-description {
    font-weight: $font-weight-light;
  }

  &-tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: $project-technologies-gap;
  }

  &-technology {
    background-color: $clr-secondary-light;
    color: $clr-primary;
    border-radius: $border-radius;
    padding: $project-element-padding;
    transition: $transition;
    font-weight: $font-weight-medium;
  }

  &-image-wrapper {
    overflow: hidden;
    width: 100%;
    aspect-ratio: $img-ratio;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-btns-wrapper {
    display: flex;
    justify-content: center;
    gap: $gap-sm;
  }

  &-btn {
    font-size: $font-size-sm;
    background-color: transparent;
    color: $clr-primary;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    border: border-style(transparent);
    border-bottom-color: $clr-primary;
    border-radius: 0;
    padding: $project-btn-padding-default;

    @include hover-fine-pointer {
      &:hover {
        background-color: $clr-primary;
        color: $clr-secondary;
        border: border-style($clr-primary);
        border-radius: $border-radius;
        padding: $project-element-padding;
      }
    }
  }
}
