.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-container {
}
.section-title {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-title::before,
.section-title::after {
  content: '';
  width: 1rem;
  height: 3px;
  background-color: $clr-5;
}

// about section
.section-about {
  background-color: $clr-white;
}
// projects section
.section-projects {
  background-color: $clr-bcg;
}
// contact section
.section-contact {
  background-color: $clr-white;
}
