$line-height: 1.5;
$spacing: 0.1rem;
$border-radius: 0.5rem;
$transition: all linear 0.3s;

// temp ?
$clr-white: #fff;
$clr-1: #fffdfc;
$clr-2: #f2e9e4;
$clr-3: #c9ada7;
$clr-4: #9a8c98;
$clr-5: #464669;
$clr-6: #22223b;
$clr-accent: #3a3c68;
$clr-accent-2: #f6bd60;
$clr-accent-3: #cb769e;
$clr-accent-4: #ffd9da;
$clr-bcg: #f4f3f6;
